/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.service-name {
    display: inline-block;
    float: left;
    padding-top: 20px;
}
.navbar-brand {
    float: right;
    height: 60px;
    padding: 0;
}
.navbar-brand img {
    height: 100%;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main message and sign up button */
.jumbotron {
  text-align: left;
  padding: 30px !important;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron h2 {
  margin-top: 0;
}
.jumbotron span {
  display: block;
  margin-top: 5px;
  border-bottom: 1px solid #ddd;
  padding-top: 3px;
  padding-bottom: 5px;
}

.level-3 {
    margin-left: 2em;
}

.level-4 {
    margin-left: 4em;
}

.level-5 {
    margin-left: 6em;
}

.level-6 {
    margin-left: 8em;
}

.level-7 {
    margin-left: 10em;
}

.level-8 {
    margin-left: 12em;
}

.level-9 {
    margin-left: 14em;
}

.level-10 {
    margin-left: 16em;
}


/* Supporting content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
